version: '3'
services:
  frontend:
    build: ./frontend
    ports:
      - 3000:3000
    networks:
      - mynetwork

  backend:
    build: ./backend
    ports:
      - 8080:8080
    environment:
      - MYSQL_HOST=db
    depends_on:
      - db
    networks:
      - mynetwork

  db:
    image: mysql:latest
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=db-57xsl
      - MYSQL_DATABASE=example
    volumes:
      - ./db-data:/var/lib/mysql
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge
